.paginationStyle {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  gap: 5px;
  margin: 10px 10px;
}

.activeStyle {
  background-color: #2ecc71;
  color: #fff;
  border-radius: 30%;
}

.pageItem {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 6px 12px;
  height: 40px;
  width: 40px;
  margin-top: 6px;
}

.disabledPageItem {
  color: #ccc;
}
