.movieDetailsThumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .backLinkContainer {
    border-bottom: 1px solid #f6f6f6;
    border-top: 1px solid #f6f6f6;
    padding: 20px 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center; /* Додано для центрування вмісту по горизонталі */
  }
  
  .backButton {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 15px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff59d;
  }
  
  .backButton:hover,
  .backButton:focus {
    background-color: #ffc0cb;
  }
  
  .movieDetails {
    margin-bottom: 30px;
  }
  
  .movieDetailsTitle {
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  
  .movieDetailsTagline {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  
  .movieDetailsText {
    font-size: 17px;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  
  .spanAccent {
    font-weight: 700;
  }
  
  .movieDetailsTitleFilm {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  
  .movieDetailsGenresList {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    gap: 8px;
    margin-bottom: 10px;
  }
  
  .moreInfo {
    padding: 20px 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center; /* Додано для центрування вмісту по горизонталі */
  }
  
  .link {
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff59d;
  }
  